html{
	font-family: Source Sans Prt-size:1rem;
}

body {
  background: #fafafa;
}

/* Navigation dropdown styles */
#nav-dropdown{
	/*display:block;*/
	width: 220px !important;
}

#inquiries-dropdown{
	width: 650px !important;
}

#cart-dropdown{
	/*display:block;*/
	width: 350px !important;
}

#notification-dropdown{
	width: 400px !important;
}

/* Navigation bar element styles*/
#nav-mobile>li{
	height:64px;
}

.navbar-fixed{
  font-family: Source Sans Pro;
}

/* Override collapsible components */
.collapsible-body{
	display:block;
}

#page-customer-view-products .collapsible-body p {
	padding:1.4rem;
}

#page-customer-view-products #filter-details .collapsible-body,
#page-customer-view-products #filter-details .collapsible-body .active,
#page-customer-view-products #filter-location .collapsible-body,
#page-customer-view-products #filter-location .collapsible-body .active{
	overflow-y:auto !important;
	height:200px;
}

#page-customer-view-products #collapsible-container li p{
	margin:0px;
}

#page-customer-view-products #collapsible-container .collapsible-body{
	padding:0px;
}

/* Breadcrumb styles */
#breadcrumb{
	margin-bottom:5px;
}

.breadcrumb{
	color: #004d40;
	font-size: 1rem;
}

.breadcrumb:before{
	color: #bdbdbd;
	font-size: 1.2rem;
}

.breadcrumb:last-child{
	color: #757575;
	cursor: default;
}

/* Verification link style */
#verification-code a{
	text-transform:none !important;
}

/* Header styles */
.breadcrumb-title {
	font-size:1.5rem;
	color: #000;
	font-weight: 300;
}

/* Card component override styles */
.card-action .row {
	margin-bottom:0px;
}

#card-status .card-content,
#card-status .card-action{
	text-align: center;
}

#page-breeder-manage-products .edit-product{
	margin-right: 10px;
}

#page-breeder-manage-products .delete-product-button{
	margin-right:0px !important;
}

.card-image img.hidden{
	-webkit-filter: grayscale();
	   -moz-filter: grayscale();
	     -o-filter: grayscale();
		 	filter: grayscale();
}

#page-customer-view-products .card .card-image,
#page-customer-swine-cart .card .card-image,
#page-breeder-manage-products .card .card-image {
	background-color: white;
}

#page-customer-view-products .card .card-image img{
	margin: 0 auto;
	width: auto;
	padding: 0.5rem;
}

#page-customer-swine-cart #card-container .card .card-image img,
#page-breeder-manage-products .card .card-image img{
	margin: 0 auto;
	width: auto;
	padding: 0.5rem;
}

#page-customer-swine-cart #info-modal .card .card-image,
#page-customer-view-product-details .card .card-image,
#page-breeder-view-product-details .card .card-image{
	padding: 0.5rem;
}

#page-customer-view-product-details .card .card-image img,
#page-breeder-view-product-details .card .card-image img{
	margin: 0 auto;
	height: 25rem;
	width: auto;
}

#page-customer-swine-cart #info-modal .card .card-image img{
	margin: 0 auto;
	height: 20rem;
	width: auto;
}

/* Breeder Dashboard */
#page-breeder-product-status #product-status-container i{
	font-size:2rem;
}

/* Swine Cart page styles */
#swine-cart #card-container .status-icons-container i{
	cursor: default;
	font-size: 1.85rem;
	margin-right: .5rem;
}

#swine-cart #card-container .card-content p > span,
#swine-cart #card-container span.input-quantity-container > span {
	padding:0;
}

.swine-cart-item {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

#swine-cart, #transaction-history {
	padding-top: 20px;
}

#cart {
	overflow: auto;
	max-height: 30rem;
}

#transaction-cart {
	overflow: auto;
	max-height: 30rem;
}

/* Rate Breeder modal */
#comment-container {
	padding: 0 1.5rem;
}

#comment-container label{
	left:1.5rem;
}
/*#info-modal {
  max-height: 540px;
} for future testing*/

#rate-modal {
	width: 450px;
	overflow-x: hidden;
}

#confirmation {
	width: 300px;
}

#rate-button {
	background-color: #e67764;
}

#rate-button:hover {
	background-color: rgba(230, 119, 100, 0.9);
}

/* Caption styles */
.caption {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 20px;
}

/* Profile Tab styles */
#personal-information, #farm-information, #password-information{
	margin-top:0;
}

/* Preloader styles */
#preloader-progress{
	margin-top:0px;
}

/* Select styles */
.select{
	display:block;
}


 /* Pagination styles */
.pagination .active span{
	color: white;
	font-size:1.2rem;
	padding: 0 10px;
}

.pagination li.active {
    background-color: #3782D6;
}

/* Fixed Action Button (Back to top) Style */
#back-to-top{
	/*display:none;	*/
}

/* For labels */
#page-customer-view-products #collapsible-container label{
	/*color:#000;*/
}

/* Swine Cart styles */
#cart-icon i.left, #notification-icon i.left, #message-icon i.left{
	margin-right: 0px;
}

#cart-icon span.badge, #notification-icon span.badge, #message-icon span.badge{
	color: white;
	background-color: #ee6e73;
	border-radius: 5px;
	min-width: 1.5rem;
}

#cart-dropdown span.title, #cart-dropdown .collection-item a{
	padding: 0px;
}

#cart-dropdown li{
	cursor:default;
}

#cart-dropdown .anchor-title{
	margin-right:2rem;
}

#cart-dropdown .anchor-title:hover{
	margin-right:2rem;
	background-color:rgba(255, 255, 255, 0);
}

#cart-dropdown .row{
	margin-bottom: 0px;
}

#cart-dropdown div.center-align{
	padding-top:1rem;
}

#cart-dropdown form a{
	font-size: 2rem;
}

#cart-dropdown form a:hover{
	background-color:rgba(255, 255, 255, 0);
	font-size: 2.5rem;
	-webkit-transition: font-size 0.2s;
	   -moz-transition: font-size 0.2s;
	     -o-transition: font-size 0.2s;
		 	transition: font-size 0.2s;
}

#cart-dropdown	form a i{
	font-size: inherit;
}

#item-container{
	margin:0px;
	overflow-y:auto !important;
	max-height:400px;
}

/* Notification container styles */
#notification-container{
	margin:0px;
	overflow-y:auto !important;
	max-height:500px;
	font-family: Source Sans Pro;
}

#notification-dropdown .collection-item{
	padding: 0px;
}

#notification-dropdown .collection-item p, #notification-page-collection .collection-item p{
	margin: 0px;
}

/* Table styles */
#page-breeder-manage-products table p{
	margin:0px;
}

#product-status-table td .row{
	margin-bottom: 0px;
}

#product-status-table th{
	cursor:pointer;
}

#page-customer-view-products #showcase-container .card .card-reveal td,
#page-breeder-manage-products #view-products-container .card .card-reveal td{
	padding:0px;
}

.table-header-bold {
  font-weight: 700 !important;
}

/* Tab Styles */
.tabs {
  overflow-x: hidden;
}

/*.tabs .active{
  color: #b71c1c;
}*/



.tabs .tab a.active {
  color: #00705E;
  font-weight: 700;
}

.tabs .tab a:hover {
  color: hsl(0, 0%, 13%);
  font-weight: 700;
}

.tabs .tab a {
	font-size: 1rem;
  color: hsl(0, 0%, 13%);
}

.indicator {
  background-color: #00705E !important;
}

/* Blockquote styles */
blockquote{
	padding: 1rem 1rem 1rem;
	border-left: 5px solid #388e3c;
	background-color: #e8f5e9;
}

blockquote.error{
	border-left: 5px solid #ee6e73;
	background-color: #fdf0f1;
}

blockquote.warning{
	border-left: 5px solid #f44336;
	background-color: #ffcdd2;
}

blockquote.info{
	border-left: 5px solid #009688;
	background-color: #e7f5f4;
}

/* Form component styles */
#page-breeder-manage-products #other-details{
	min-height: 310px;
}

#page-breeder-manage-products #other-details-container .remove-button-container{
	margin-top: 30px;
}

#page-breeder-view-product-details .responsive-video,
#page-customer-view-product-details .responsive-video{
	width: 100%;
}

/* Modal Styles */
.modal .modal-footer .btn, .modal .modal-footer .btn-large{
	margin: 6px 3px;
}

#page-breeder-product-status #product-requests-modal .collection .secondary-content {
	margin-left:1rem;
}

/* Dropzone styles */
#page-breeder-edit-profile #change-logo-modal{
	width: 30rem;
}

/* Search components style */
input#search{
	color: black;
	/* The following three lines are a temporary fix to Mataerialize css v0.99 search UI bug */
	margin-bottom: 0px;
  border-bottom-style: none;
  height: inherit;
  font-size: 1rem;
  background-color: hsl(0, 0%, 97%);
}

#search-label {
  padding-left: 0.5rem;
}

#search-results ul{
	margin: 0;
	border: solid .7px;
	border-color: rgba(0,0,0,0.3);
}

#search-results ul li{
	padding: .5rem 0 .5rem 3rem;
	cursor: pointer;
}

#search-results li:hover{
	background-color: rgba(0,0,0,0.1);
}

/* #mini-search-bar {
  border: solid 1px;
  color: hsl(0, 0%, 45%);
  padding: 2px;
} */

/*
 * Device-specific styles
 */

/* Medium Screen */
@media only screen and (min-width: 601px){
	#general-container .pinned{
		width:18.8%;
	}

	/* Image resize */
	#page-customer-view-products .card .card-image img{
		height: 160px;
	}

	#page-customer-swine-cart #card-container .card .card-image img,
	#page-breeder-manage-products .card .card-image img{
		height: 7rem;
	}

}

/* Large Screen */
@media only screen and (min-width: 993px){
	#general-container .pinned{
		width:16.25%;
	}

	#search-container .pinned{
		width:100%;
	}

	/* Image resize */
	#page-customer-view-products .card .card-image img{
		height: 168px;
	}

	#page-customer-swine-cart #card-container .card .card-image img,
	#page-breeder-manage-products .card .card-image img{
		height: 8rem;
	}

}

@media only screen and (min-width: 1100px){
	/* Image resize */
	#page-customer-view-products .card .card-image img{
		height: 180px;
	}

	#page-customer-swine-cart #card-container .card .card-image img,
	#page-breeder-manage-products .card .card-image img{
		height: 9rem;
	}
}

@media only screen and (min-width: 1225px){
	/* Image resize */
	#page-customer-view-products .card .card-image img{
		height: 210px;
	}

	#page-customer-swine-cart #card-container .card .card-image img,
	#page-breeder-manage-products .card .card-image img{
		height: 10.5rem;
	}
}

@media only screen and (min-width: 1560px){
	/* Image resize */
	#page-customer-view-products .card .card-image img{
		height: 270px;
	}

	#page-customer-swine-cart #card-container .card .card-image img,
	#page-breeder-manage-products .card .card-image img{
		height: 14rem;
	}
}

/*Admin content custom CSS*/
#table-content{
  height: 100px;
  overflow: auto;
}

#message-panel{
	overflow: auto;
  	height: 400px;
}

#modal1{
	height: 620px;
}


.summary-data{
	font-size: 8em;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.summary-icons{
	font-size: 3em;
	vertical-align: middle;
}

.summary-title{
	font-size: 2em;
	vertical-align: middle;
   	text-align: left;

}

.action-column{
	 top:0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
}

.action-dialog-box{
	width: 700px;
	height: 350px;
}

#unblock-modal{
	width: 500px;
	height: 220px;
}

#reject-modal{
	width: 500px;
	height: 220px;
}

#accept-modal{
	width: 500px;
	height: 220px;
}

.card-summary{
	height: 280px;
}

.vertical-align{
	vertical-align: middle;
	display: inline-block;
}

.table-header {
	table-layout: fixed;
}

#manage-user-modal{
   width: 500px;
}

#accept-reject-modal{
   width: 500px;
}

.manage-icon{
   font-size: 4em;
}

.status-column{
   display: none;
}

.id-column{
   display: none;
}
.token-column{
   display: none;
}


#delete-data {
   color: #D32F2F;
}

#block-data{
   color: #FF5722;
}

#accept-data{
   color: #388e3c;
}
#reject-data{
   color: #D32F2F;
}

.ecommerce-icon{
   font-family: ecommerce;
   font-size: 6.5em;
   font-style: normal;
   text-align: left;
   vertical-align: middle;
   color: #d1d1d1 ;
}

.label-wrapper{
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

/*Admin dashboard CSS*/
#total-card{
   background-color: #0a7e7b;
}

#blocked-card{
   background-color: #ed5272;
}

#pending-card{
   background-color: #636564;
}

#inquiries-card{
   background-color: #67052c;
}

#statistics-card{
   background-color: #EB984E;
}

#statistics-icon{
	font-size: 9em;
	vertical-align: middle;
   	text-align: left;
}

#statistics-title-wrapper{
	vertical-align: middle;
}

#statistics-title{
	font-size: 5em;
	vertical-align: middle;
   	text-align: left;
}

#adduser{
   width: 800px;
   height: 450;
}

.addusercontainer{
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   vertical-align: middle;
}

.brand-logo{
   font-family: Source Sans Pro;
}

/*Admin Statistics Dashboard*/
.statsdash-data{
	font-size: 55px;
	font-weight: bold;
}

.statsdash-description{
	font-size: 20px;
}

.statsdash-link{
	vertical-align: middle;
	line-height: 55px;
}

.statsdash-panel-title{
	font-size: 25px;
}

/*Admin user modal content format*/
.admin-user-modal-data{
	font-weight: bold;
}
.admin-user-modal-title{
	font-weight: lighter;

}

/*Admin transaction history view CSS*/
.admin-transaction-history-name{
	font-weight: bold;
}

/*.admin-usermodal-title{
	font-size:
}*/

/*CSS for the Horizontal timeline for statistics dashboard
	Source: http://jsfiddle.net/kthornbloom/zJ6kp/
*/
.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#FF9797;
    padding:3px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:5px solid #06182E;
    border-radius:5px;
    min-width:200px;
    max-width:500px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:5px;
    height:5px;
    border-radius:10px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-2px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.bar {
    height:4px;
    background:#FF7575;
    width:100%;
    position:relative;
    top:9px;
    left:0;
}

/*Vertical Timeline*/
.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #00bbbb;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

/*.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	color: #000000;
}*/

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 1.8em;
	color: #00bbbb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #009494;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #00bbbb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #009494;
}

.cbp_tmtimeline > li .cbp_tmlabel h5 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #00bbbb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #009494;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #006c6c;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #00cece;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

/* Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #00e2e2;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #009494;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}

/*Admin logs timeline page*/
.admin-log-timeline-datetitle{
	font-weight: bold;
	font-size: 1.2em;
}

/*Timeline components in Admin Logs Timeline*/
#timeline-container{
	overflow: auto;
	max-height: 800px;
	min-height: 200px;
}

.timeline-performed{
	font-size: 15px;
}


#dash-transaction-chart{
	/*fix chart canvas responsiveness in smaller screens*/
}

#statsdash-transact{

}
#statsdash-del{

}

#statsdash-block{

}

#statsdash-new{

}

/*for breeder statistics in admin*/
.selection-buttons{
	margin-top: 10px;
}
/*for admin forms*/
#notes{
  width: 640px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.file-input-property{
  display: none;
}

.upload{
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.decrease-text-size{
   font-size: 2em;
}

/*css for admin manage pages*/
[v-cloak] {
  display: none;
}

.add-content{
	right: 50%;
	bottom: 50%;
	transform: translate(50%,50%);
	position: absolute;
}
.caption{
	word-break:break-all;
}

.content-text{
	word-break:break-all;
}

/* Spectator CSS */
#menu{
	width: 300px;
}

.product_image{
	width: 300px;
	height: 300px;
}

#spectator-users-card{
	background-color: #062F4F;
}

#spectator-products-card{
	background-color: #813772;
}

#spectator-statistics-card{
	background-color: #882601;
}

.spectator-ecommerce-icon{
	font-family: ecommerce;
	font-size: 8em;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	color: #d1d1d1 ;
}

.spectator-homedashboard-icon-title{
	font-size: 1.5em;
	font-weight: bold;
}

.spectator-card-label{
	font-size: 1.5em;
	text-align: center;
	color: #d1d1d1 ;
}

.vertical-divider{
	font-size: 10em;
}

#map-canvas{
	height: 80vh;
}

/* Product Breakdown */
.product-breakdown-title{
	font-size: 1.5em;
}

.product-breakdown-data{
	font-size: 2em;
	font-weight: bold;
}

/*Product modal*/
.spectator-product-modal-title{
	font-size: 1em;
	color: grey;
}

.spectator-product-modal-data{
	font-size: 1.5em;
	font-weight: bold;
}

/*VueJS transition CSS*/
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
	opacity: 0;
}

/*Spectator User Page*/
#user-modal{
	height: 520px;
	width: 1000px;
	overflow-x: auto;
}

.spectator-user-modal-data{
	font-weight: bold;
}
.spectator-user-modal-title{
	font-weight: lighter;

}

/*Spectator Statistics Dahsboard*/
.spectator-dashicon{
	font-size: 8em;
}

.spectator-dashlabel{
	font-size: 2em;
}

.spectator-summary-maintitle{
	font-size: 2em;
}

.spectator-summary-maindata{
	font-size: 5em;
}

.spectator-summary-title{
	font-size: 1.5em;
}

.spectator-summary-data{
	font-size: 3em;
}

.spectator-card-summary{
	max-height: 400px;
	min-height: 400px;
}

/* Form Validation */
label {
   width: 100%;
}

.input-field label[for='email'] {
  font-size: 0.8rem;
   -webkit-transform: none;
   -moz-transform: none;
   -ms-transform: none;
   -o-transform: none;
   transform: none;
}

.login {
  border: solid 1px #E1E4EC !important;
  border-radius: 3px !important;
  height: 2.5rem !important;
  margin: 0 0 0 0 !important;
  margin-top: 10px !important;
}

.login:focused {
  border-bottom: none !important;
}

/* .login-password {
  border: solid 1px #E1E4EC !important;
  border-right: 0;
  border-radius: 3px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 2.5rem !important;
  margin: 0 0 0 0 !important;
  margin-top: 10px !important;
} */

.login-password:focused {
  border-bottom: none !important;
}

.show-hide-password {
  height: 2.6rem !important;
  margin: 0 0 0 0 !important;
  padding-top: 0.4rem !important;
  margin-top: 10px !important; 
}

.input-field label[for='password']::after {
   padding-top: 0.4rem;
}

.input-field label[for] {
	font-size: 0.8rem;
   -webkit-transform: translateY(-140%);
   -moz-transform: translateY(-140%);
   -ms-transform: translateY(-140%);
   -o-transform: translateY(-140%);
   transform: translateY(-140%);
}

.input-field label[for]::after {
   padding-top: 0.4rem;
}

/* Override search icon label */
.input-field label[for='search']{
	font-size: inherit;
	-webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* Outline Button */
.outline-button-blue {
  border: 2px solid #bbdefb;
  background-color: white;
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  color: #2196f3;
  font-weight: 700;
  border-radius: 5px;
}

/* Date Picker */
.picker__date-display {
  background-color: #00705E;
}

.picker__today {
  color: blue;
}

.picker__close {
  color: #00705E; 
}

.picker__day.picker__day--today {
  color: blue;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #00705E;
}

.picker__clear {
  color: grey;
}

/* Checkbox */
[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #00705E;
  background-color: #00705E;
}

/* Dropdown related */
.dropdown-content li>span {
  color: #00705E;
}

/* Radio Button */
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #00705E;
  background-color: #00705E;
}

/* Buttons */
.btn, .btn-large {
  text-transform: none !important;
}

a.facebook {
 background-color: #4175CE !important; 
}

a.google {
 background-color: #DD0000 !important;  
}


