
html{
	font-family:Poppins;
	font-size:1rem;
}

/* Navigation dropdown styles */
#nav-dropdown{
	/*display:block;*/
	width: 185px !important;
}

#inquiries-dropdown{
	width: 650px !important;
}

#cart-dropdown{
	/*display:block;*/
	width: 350px !important;
}

/* Navigation bar element styles*/
#nav-mobile>li{
	height:64px;
}

.navbar-fixed{
  font-family: Electrolize;
}

/* Override collapsible components */
.collapsible-body{
	display:block;
}

#page-customer-view-products .collapsible-body p {
	padding:1.4rem;
}

#page-customer-view-products #filter-details .collapsible-body,
#page-customer-view-products #filter-details .collapsible-body .active,
#page-customer-view-products #filter-location .collapsible-body,
#page-customer-view-products #filter-location .collapsible-body .active{
	overflow-y:auto !important;
	height:200px;
}

/* Breadcrumb styles */
#breadcrumb{
	margin-bottom:5px;
}

.breadcrumb{
	color: #004d40;
	font-size: 1rem;
}

.breadcrumb:before{
	color: #bdbdbd;
	font-size: 1.2rem;
}

.breadcrumb:last-child{
	color: #757575;
	cursor: default;
}

/* Verification link style */
#verification-code a{
	text-transform:none !important;
}

/* Header styles */
.breadcrumb-title {
	font-size:1.5rem;
	color: #000;
	font-weight: 300;
}

/* Card component override styles */
.card-action .row {
	margin-bottom:0px;
}

#card-status .card-content,
#card-status .card-action{
	text-align: center;
}

#page-breeder-manage-products .edit-product{
	margin-right: 10px;
}

#page-breeder-manage-products .delete-product-button{
	margin-right:0px !important;
}

.card-image img.hidden{
	-webkit-filter: grayscale();
	   -moz-filter: grayscale();
	     -o-filter: grayscale();
		 	filter: grayscale();
}

/* Breeder Dashboard */
#page-breeder-product-status i{
	font-size:2rem;
}

/* Swine Cart Related */
.info {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.material-icons.md { font-size: 72px; }

.swine-cart-item {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.verticalLine {
    border-right: thin solid #9e9e9e;
    height: 100px;
}

#swine-cart {
	padding-top: 20px;
}

#transaction-history {
	padding-top: 20px;
}

#cart {
	overflow: auto;
	max-height: 364px;
}

#transaction-cart {
	overflow: auto;
	max-height: 364px;
}

/*Modal Edit*/
#comment {
	width: 325px;
}

/*#info-modal {
  max-height: 540px;
} for future testing*/

#rate {
	width: 400px;
}

#confirmation {
	width: 300px;
}

.rate-button {
	background-color: #e67764;
}

/* Caption styles */
.caption {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 20px;
}

/* Profile Tab styles */
#personal-information, #farm-information{
	margin-top:0;
}

/* Preloader styles */
#preloader-progress{
	margin-top:0px;
}

/* Select styles */
.select{
	display:block;
}


 /* Pagination styles */
.pagination .active span{
	color:rgb(255,255,255);
	font-size:1.2rem;
	padding: 0 10px;
}

/* Fixed Action Button (Back to top) Style */
#back-to-top{
	/*display:none;	*/
}

/* For labels */
#page-customer-view-products #collapsible-container label{
	/*color:#000;*/
}

/* Swine Cart styles */
#cart-icon i.left{
	margin-right: 0px;
}

#cart-icon span.badge{
	color: white;
	background-color: #ee6e73;
	border-radius: 5px;
}

#cart-dropdown span.title, #cart-dropdown .collection-item a{
	padding: 0px;
}

#cart-dropdown li{
	cursor:default;
}

#cart-dropdown .anchor-title{
	margin-right:2rem;
}

#cart-dropdown .anchor-title:hover{
	margin-right:2rem;
	background-color:rgba(255, 255, 255, 0);
}

#cart-dropdown .row{
	margin-bottom: 0px;
}

#cart-dropdown div.center-align{
	padding-top:1rem;
}

#cart-dropdown form a{
	font-size: 2rem;
}

#cart-dropdown form a:hover{
	background-color:rgba(255, 255, 255, 0);
	font-size: 2.5rem;
	-webkit-transition: font-size 0.2s;
	   -moz-transition: font-size 0.2s;
	     -o-transition: font-size 0.2s;
		 	transition: font-size 0.2s;
}

#cart-dropdown	form a i{
	font-size: inherit;
}

#item-container{
	margin:0px;
	overflow-y:auto !important;
	max-height:400px;
}

/* Table styles */
#page-breeder-manage-products table p{
	margin:0px;
}

#product-status-table td .row{
	margin-bottom: 0px;
}

#product-status-table th{
	cursor:pointer;
}

/* Tab Styles */
.tabs .active{
	color: #b71c1c !important;
}

/* Blockquote styles */
blockquote{
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-left: 5px solid #388e3c;
	background-color: #e8f5e9;
}

/* Form component styles */
#page-breeder-manage-products #other-details{
	min-height: 310px;
}

#page-breeder-manage-products #other-details-container .remove-button-container{
	margin-top: 30px;
}

#page-breeder-view-product-details .responsive-video{
	width: 100%;
}

/* Modal Styles */
.modal .modal-footer .btn, .modal .modal-footer .btn-large{
	margin: 6px 3px;
}

#page-breeder-product-status #product-requests-modal .collection .secondary-content {
	margin-left:1rem;
}

/*
 * Device-specific styles
 */

/* Medium Screen */
@media only screen and (min-width: 601px){
	#general-container .pinned{
		width:18.8%;
	}

}

/* Large Screen */
@media only screen and (min-width: 993px){
	#general-container .pinned{
		width:16.25%;
	}

	#search-container .pinned{
		width:100%;
	}
}

/*Admin content custom CSS*/
#table-content{
  height: 100px;
  overflow: auto;
}

#message-panel{
	overflow: auto;
  height: 400px;
}

#modal1{
	height: 620px;
}


.summary-data{
	font-size: 10em;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.summary-icons{
	font-size: 3em;
	vertical-align: middle;
}

.summary-title{
	font-size: 2em;
	vertical-align: middle;
   text-align: left;

}

.action-column{
 top:0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
}

.action-dialog-box{
	width: 500px;
	height: 220px;
}

.card-summary{
	height: 280px;
}

.vertical-align{
	vertical-align: middle;
	display: inline-block;
}

.table-header {
	table-layout: fixed;
}

#search-button{
	display: none;
}

#manage-user-modal{
   width: 500px;
}

#accept-reject-modal{
   width: 500px;
}

.manage-icon{
   font-size: 4em;
}

.status-column{
   display: none;
}

.id-column{
   display: none;
}
.token-column{
   display: none;
}

#delete-data {
   color: #D32F2F;
}

#block-data{
   color: #FF5722;
}

#accept-data{
   color: #388e3c;
}
#reject-data{
   color: #D32F2F;
}

.ecommerce-icon{
   font-family: ecommerce;
   font-size: 6.5em;
   font-style: normal;
   text-align: left;
   vertical-align: middle;
   color: #d1d1d1 ;
}

.label-wrapper{
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

#total-card{
   background-color: #0a7e7b;
}

#blocked-card{
   background-color: #ed5272;
}

#pending-card{
   background-color: #636564;
}

#inquiries-card{
   background-color: #67052c;
}

#adduser{
   width: 800px;
   height: 450;
}

.addusercontainer{
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   vertical-align: middle;
}

.brand-logo{
   font-family : Electrolize;
}

/*for admin forms*/
#notes{
  width: 640px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.file-input-property{
  display: none;
}

.upload{
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.decrease-text-size{
   font-size: 2em;
}
